@font-face {
  font-family: 'Minecraft';
  src:  url('fonts/Minecraft.eot?qdh7kq');
  src:  url('fonts/Minecraft.eot?qdh7kq#iefix') format('embedded-opentype'),
    url('fonts/Minecraft.ttf?qdh7kq') format('truetype'),
    url('fonts/Minecraft.woff?qdh7kq') format('woff'),
    url('fonts/Minecraft.svg?qdh7kq#Minecraft') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Minecraft' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-px-0x20:before {
  content: "\20";
}
.icon-px-0x27:before {
  content: "\27";
}
.icon-px-0x60:before {
  content: "\60";
}
.icon-px-0x97:before {
  content: "\97";
}
.icon-px-0x22:before {
  content: "\22";
}
.icon-px-0x92:before {
  content: "\92";
}
.icon-px-0x69:before {
  content: "\69";
}
.icon-px-0x86:before {
  content: "\86";
}
.icon-px-0x89:before {
  content: "\89";
}
.icon-px-0x95:before {
  content: "\95";
}
.icon-px-0x2e:before {
  content: "\2e";
}
.icon-px-0x28:before {
  content: "\28";
}
.icon-px-0x54:before {
  content: "\54";
}
.icon-px-0x75:before {
  content: "\75";
}
.icon-px-0x78:before {
  content: "\78";
}
.icon-px-0x87:before {
  content: "\87";
}
.icon-px-0x93:before {
  content: "\93";
}
.icon-px-0x96:before {
  content: "\96";
}
.icon-px-0x76:before {
  content: "\76";
}
.icon-px-0x2c:before {
  content: "\2c";
}
.icon-px-0x29:before {
  content: "\29";
}
.icon-px-0x38:before {
  content: "\38";
}
.icon-px-0x48:before {
  content: "\48";
}
.icon-px-0x55:before {
  content: "\55";
}
.icon-px-0x59:before {
  content: "\59";
}
.icon-px-0x66:before {
  content: "\66";
}
.icon-px-0x67:before {
  content: "\67";
}
.icon-px-0x72:before {
  content: "\72";
}
.icon-px-0x73:before {
  content: "\73";
}
.icon-px-0x74:before {
  content: "\74";
}
.icon-px-0x77:before {
  content: "\77";
}
.icon-px-0x79:before {
  content: "\79";
}
.icon-px-0x82:before {
  content: "\82";
}
.icon-px-0x83:before {
  content: "\83";
}
.icon-px-0x84:before {
  content: "\84";
}
.icon-px-0x2d:before {
  content: "\2d";
}
.icon-px-0x3a:before {
  content: "\3a";
}
.icon-px-0x23:before {
  content: "\23";
}
.icon-px-0x25:before {
  content: "\25";
}
.icon-px-0x31:before {
  content: "\31";
}
.icon-px-0x37:before {
  content: "\37";
}
.icon-px-0x44:before {
  content: "\44";
}
.icon-px-0x46:before {
  content: "\46";
}
.icon-px-0x49:before {
  content: "\49";
}
.icon-px-0x50:before {
  content: "\50";
}
.icon-px-0x52:before {
  content: "\52";
}
.icon-px-0x56:before {
  content: "\56";
}
.icon-px-0x58:before {
  content: "\58";
}
.icon-px-0x63:before {
  content: "\63";
}
.icon-px-0x68:before {
  content: "\68";
}
.icon-px-0x81:before {
  content: "\81";
}
.icon-px-0x85:before {
  content: "\85";
}
.icon-px-0x88:before {
  content: "\88";
}
.icon-px-0x91:before {
  content: "\91";
}
.icon-px-0x94:before {
  content: "\94";
}
.icon-px-0x61:before {
  content: "\61";
}
.icon-px-0x3b:before {
  content: "\3b";
}
.icon-px-0x3c:before {
  content: "\3c";
}
.icon-px-0x3d:before {
  content: "\3d";
}
.icon-px-0x3e:before {
  content: "\3e";
}
.icon-px-0x7c:before {
  content: "\7c";
}
.icon-px-0x7e:before {
  content: "\7e";
}
.icon-px-0x32:before {
  content: "\32";
}
.icon-px-0x42:before {
  content: "\42";
}
.icon-px-0x53:before {
  content: "\53";
}
.icon-px-0x90:before {
  content: "\90";
}
.icon-px-0x99 .path1:before {
  content: "\99";
  color: rgb(0, 0, 0);
  opacity: 0.9961;
}
.icon-px-0x99 .path2:before {
  content: "\9a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9961;
}
.icon-px-0x99 .path3:before {
  content: "\9b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path4:before {
  content: "\9c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path5:before {
  content: "\9d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path6:before {
  content: "\9e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path7:before {
  content: "\9f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path8:before {
  content: "\a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path9:before {
  content: "\a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path10:before {
  content: "\a2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path11:before {
  content: "\a3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path12:before {
  content: "\a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path13:before {
  content: "\a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x99 .path14:before {
  content: "\a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path1:before {
  content: "\98";
  color: rgb(0, 0, 0);
  opacity: 0.9882;
}
.icon-px-0x98 .path2:before {
  content: "\a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path3:before {
  content: "\a8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path4:before {
  content: "\a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path5:before {
  content: "\aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path6:before {
  content: "\ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path7:before {
  content: "\ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x98 .path8:before {
  content: "\ad";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x2a:before {
  content: "\2a";
}
.icon-px-0x2b:before {
  content: "\2b";
}
.icon-px-0x5e:before {
  content: "\5e";
}
.icon-px-0x6c:before {
  content: "\6c";
}
.icon-px-0x21:before {
  content: "\21";
}
.icon-px-0x26:before {
  content: "\26";
}
.icon-px-0x33:before {
  content: "\33";
}
.icon-px-0x43:before {
  content: "\43";
}
.icon-px-0x45:before {
  content: "\45";
}
.icon-px-0x57:before {
  content: "\57";
}
.icon-px-0x62:before {
  content: "\62";
}
.icon-px-0x70:before {
  content: "\70";
}
.icon-px-0x7a:before {
  content: "\7a";
}
.icon-px-0x7b:before {
  content: "\7b";
}
.icon-px-0x8a:before {
  content: "\8a";
}
.icon-px-0x8b:before {
  content: "\8b";
}
.icon-px-0x8c:before {
  content: "\8c";
}
.icon-px-0x30:before {
  content: "\30";
}
.icon-px-0x34:before {
  content: "\34";
}
.icon-px-0x39:before {
  content: "\39";
}
.icon-px-0x40:before {
  content: "\40";
}
.icon-px-0x64:before {
  content: "\64";
}
.icon-px-0x71:before {
  content: "\71";
}
.icon-px-0x4a:before {
  content: "\4a";
}
.icon-px-0x4c:before {
  content: "\4c";
}
.icon-px-0x5a:before {
  content: "\5a";
}
.icon-px-0x5c:before {
  content: "\5c";
}
.icon-px-0x6e:before {
  content: "\6e";
}
.icon-px-0x7d:before {
  content: "\7d";
}
.icon-px-0x8d:before {
  content: "\8d";
}
.icon-px-0x47:before {
  content: "\47";
}
.icon-px-0x5b:before {
  content: "\5b";
}
.icon-px-0x5d:before {
  content: "\5d";
}
.icon-px-0x5f:before {
  content: "\5f";
}
.icon-px-0x41:before {
  content: "\41";
}
.icon-px-0x51:before {
  content: "\51";
}
.icon-px-0x65:before {
  content: "\65";
}
.icon-px-0x80 .path1:before {
  content: "\80";
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path2:before {
  content: "\8e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9569;
}
.icon-px-0x80 .path3:before {
  content: "\8f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path4:before {
  content: "\ae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path5:before {
  content: "\af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path6:before {
  content: "\b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path7:before {
  content: "\b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path8:before {
  content: "\b2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path9:before {
  content: "\b3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path10:before {
  content: "\b4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path11:before {
  content: "\b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path12:before {
  content: "\b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x80 .path13:before {
  content: "\b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-px-0x6b:before {
  content: "\6b";
}
.icon-px-0x6d:before {
  content: "\6d";
}
.icon-px-0x8e:before {
  content: "\b8";
}
.icon-px-0x24:before {
  content: "\24";
}
.icon-px-0x36:before {
  content: "\36";
}
.icon-px-0x4b:before {
  content: "\4b";
}
.icon-px-0x4d:before {
  content: "\4d";
}
.icon-px-0x4e:before {
  content: "\4e";
}
.icon-px-0x6a:before {
  content: "\6a";
}
.icon-px-0x4f:before {
  content: "\4f";
}
.icon-px-0x35:before {
  content: "\35";
}
.icon-px-0x6f:before {
  content: "\6f";
}
.icon-px-0x2f:before {
  content: "\2f";
}
.icon-px-0x3f:before {
  content: "\3f";
}
.icon-px-0x8f:before {
  content: "\b9";
}
